Exercise 2.3

In [12]:
import pandapower as pp #import pandapower

net = pp.create_empty_network(sn_mva=100) #create an empty network with 100MVA base power

In [13]:
"""Create the buses"""
bus0 = pp.create_bus(net, name ='0', vn_kv=22 ,type = "n")
bus1 = pp.create_bus(net, name ='1', vn_kv=22)
bus2 = pp.create_bus(net, name ='2', vn_kv=11)
bus3 = pp.create_bus(net, name ='3', vn_kv=220)
bus4 = pp.create_bus(net, name ='4', vn_kv=220)
bus5 = pp.create_bus(net, name ='5', vn_kv=110)
bus6 = pp.create_bus(net, name ='6', vn_kv=110)

In [14]:
net.bus

  name  vn_kv type  zone  in_service
0    0   22.0    n  None        True
1    1   22.0    b  None        True
2    2   11.0    b  None        True
3    3  220.0    b  None        True
4    4  220.0    b  None        True
5    5  110.0    b  None        True
6    6  110.0    b  None        True

In [15]:
pp.create_ext_grid(net, bus0, vm_pu=1) # Create an external grid connection
net.ext_grid #show external grid table

   name  bus  vm_pu  va_degree  slack_weight  in_service
0  None    0    1.0        0.0           1.0        True

In [16]:
pp.create_load_from_cosphi(net, bus=2, sn_mva=57, cos_phi=0.6, scaling=1.11, mode="underexcited", const_z_percent = 100)

0

In [17]:
pp.create_impedance(net, from_bus=0, to_bus=1, rft_pu =0, xft_pu=0.18, sn_mva=90, scaling = 1.11)

0

In [18]:
pp.create_transformer_from_parameters(net, hv_bus=3, lv_bus=1,sn_mva=50, vn_hv_kv=220, vn_lv_kv=22, vkr_percent=0, vk_percent=10, pfe_kw=0,i0_percent=0, name="T1")
pp.create_transformer_from_parameters(net, hv_bus=4, lv_bus=2,sn_mva=40, vn_hv_kv=220, vn_lv_kv=11, vkr_percent=0, vk_percent=6, pfe_kw=0,i0_percent=0, name="T2")
pp.create_transformer_from_parameters(net, hv_bus=5, lv_bus=1,sn_mva=40, vn_hv_kv=110, vn_lv_kv=22, vkr_percent=0, vk_percent=6.4, pfe_kw=0,i0_percent=0, name="T3")
pp.create_transformer_from_parameters(net, hv_bus=6, lv_bus=2,sn_mva=40, vn_hv_kv=110, vn_lv_kv=11, vkr_percent=0, vk_percent=8, pfe_kw=0,i0_percent=0, name="T4")

3

In [19]:
pp.create_line_from_parameters(net, from_bus=3,to_bus=4, length_km=1, r_ohm_per_km=0, x_ohm_per_km=48.4, c_nf_per_km=0, max_i_ka=0.454)
pp.create_line_from_parameters(net, from_bus=5,to_bus=6, length_km=1, r_ohm_per_km=0, x_ohm_per_km=65.43, c_nf_per_km=0, max_i_ka=0.909)

1

In [20]:
pp.runpp(net, max_iteration=100)

In [21]:
net.res_bus

      vm_pu  va_degree       p_mw     q_mvar
0  1.000000   0.000000 -23.632400 -43.972109
1  0.913280  -2.966544   0.000000   0.000000
2  0.789004  -8.614505  23.632399  31.509866
3  0.857039  -5.274363   0.000000   0.000000
4  0.829493  -6.544590   0.000000   0.000000
5  0.890631  -3.853916   0.000000   0.000000
6  0.815858  -7.212823   0.000000   0.000000

In [22]:
net.res_load

        p_mw     q_mvar
0  23.632399  31.509866

In [23]:
net.res_line

,p_from_mw,q_from_mvar,p_to_mw,q_to_mvar,pl_mw,ql_mvar,i_from_ka,i_to_ka,i_ka,vm_from_pu,va_from_degree,vm_to_pu,va_to_degree,loading_percent
0,15.759271,23.782816,-15.759271,-22.674634,-1.776357e-15,1.108182,0.087362,0.087362,0.087362,0.857039,-5.274363,0.829493,-6.544590,19.242715
1,7.873129,12.546314,-7.873129,-11.050681,0.000000e+00,1.495633,0.087290,0.087290,0.087290,0.890631,-3.853916,0.815858,-7.212823,9.602837