# lab_session_4

In [1]:
import pandapower as pp
import pandas as pn
import numpy as np
import pandapower.networks

net = pandapower.networks.case9()
net

This pandapower network includes the following parameter tables:
   - bus (9 elements)
   - load (3 elements)
   - gen (2 elements)
   - ext_grid (1 element)
   - line (9 elements)
   - poly_cost (3 elements)
   - bus_geodata (9 elements)

In [8]:
net.line.loc[4]

name                         None
std_type                     None
from_bus                        5
to_bus                          6
length_km                     1.0
r_ohm_per_km            14.163975
x_ohm_per_km             119.9772
c_nf_per_km            465.775861
g_us_per_km                   0.0
max_i_ka                 0.251022
df                            1.0
parallel                        1
type                           ol
in_service                   True
max_loading_percent         100.0
Name: 4, dtype: object

In [9]:
net.line.loc[[3,4], ["length_km", "r_ohm_per_km", "x_ohm_per_km", "c_nf_per_km"]]

   length_km  r_ohm_per_km  x_ohm_per_km  c_nf_per_km
3        1.0      0.000000      69.74865     0.000000
4        1.0     14.163975     119.97720   465.775861

In [13]:
pp.runpp(net, max_iteration=100, numba=False)

In [14]:
net.res_bus

      vm_pu  va_degree        p_mw     q_mvar
0  1.000000   0.000000  -71.954702 -24.068958
1  1.000000   9.668741 -163.000000 -14.460120
2  1.000000   4.771073  -85.000000   3.649026
3  0.987007  -2.406644    0.000000   0.000000
4  0.975472  -4.017264   90.000000  30.000000
5  1.003375   1.925602    0.000000   0.000000
6  0.985645   0.621545  100.000000  35.000000
7  0.996185   3.799120    0.000000   0.000000
8  0.957621  -4.349934  125.000000  50.000000